.message {
    padding-top: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}


.imageAndText {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 50px;

}

.imageAndText img {
    width: 100px;
}


.text {
    background-color: blue;
    color: white;
    width: 600px;
    height: auto;
    padding: 10px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.text::after {
    content: '';
    position: absolute;
    right: -30px; /* Длинный катет */
    bottom: -7.5px;
    transform: translateY(-50%);
    width: 30px; /* Длинный катет */
    height: 15px; /* Короткий катет - НЕ РАВНЫ! */
    background: blue;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.name {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.messageText {
    font-size: 18px;
    white-space: pre-wrap; /* Сохраняет пробелы и переносы, но переносит по словам */
    word-wrap: break-word; /* Переносит длинные слова */
    word-break: break-word; /* Дополнительное свойство для переноса */
    margin: 0;
    line-height: 1.4;
}

.time {
    padding-right: 26px;
}