.sendForm {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 50px;
    align-items: center;
}

.textarea {
    border: 1px solid black;
    outline: none;
    resize: none;
    background: none;
    background-color: transparent;
    display: block;
    box-sizing: border-box;
    width: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
}

.button {
    background: blue;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {

}

.button:active {

}
